<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
 
        function getAllClients() {
            console.log("hgg");
            $.ajax({
                url: 'https://localhost:44301/home/GetClients',
                type: 'GET',
                dataType: 'json',
                data: person,
                success: function (data, textStatus, xhr) {
                    data.map(x => showClient(x));
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            })
        }
            var person = {
                tz: document.getElementsByClassName(tz).value,
                firstName: document.getElementsByClassName(firstName).value,
                lastName: document.getElementsByClassName(lastName).value,
                birthDate: document.getElementsByClassName(birthDate).value,
                telephone: document.getElementsByClassName(telephone).value,
                selphone: document.getElementsByClassName(selphone).value,
                beIllDate: document.getElementsByClassName(beIllDate).value,
                beHealthDate: document.getElementsByClassName(beHealthDate).value,
                postalCode: document.getElementsByClassName(postalCode).value,
                beHealthDate: document.getElementsByClassName(beHealthDate).value,
                city: document.getElementsByClassName(T_Address.city).value
            }       
            //function showClient(client = null) {
            //    console.log(client);
            //    var div = document.createElement("div"); div.id = client.id; div.className = "divClient";
            //    var nameC = document.createElement("h2"); div.className = "h2Client"; nameC.textContent = "שם:        " + client.name
            //    var labalDate = document.createElement("label"); labalDate.textContent = "תאריך:         "
            //    var inputDate = document.createElement("input"); inputDate.type = "text"; inputDate.id = "inputDate" + client.id; inputDate.value = client.dateQueue;
            //    var lableHour = document.createElement("label"); lableHour.textContent = "שעה:            "
            //    var inputHour = document.createElement("input"); inputHour.type = "text"; inputHour.id = "inputHour" + client.id; inputHour.value = client.hourQueue;
            //    var inputDelete = document.createElement("input"); inputDelete.type = "button"; inputDelete.onclick = () => deleteClient(client.tz); inputDelete.value = "delete"; inputDelete.className = "btn";
            //    var inpuUpdate = document.createElement("input"); inpuUpdate.type = "button"; inpuUpdate.onclick = () => updateClient(client); inpuUpdate.value = "update"; inpuUpdate.className = "btn";
            //    div.appendChild(nameC); div.appendChild(labalDate); div.appendChild(inputDate); div.appendChild(lableHour); div.appendChild(inputHour); div.appendChild(inputDelete); div.appendChild(inpuUpdate);
            //    document.getElementById("allClients").appendChild(div)
            //}

            //$.ajax({
            //    url: 'https://localhost:44301/home/GetShotsByTz',
            //    type: 'GET',
            //    dataType: 'json',
            //    data: person,
            //    success: function (data, textStatus, xhr) {
            //        data.map(x => showClient(x));
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //})
            //$.ajax({
            //    url: 'https://localhost:44301/home/AddClient',
            //    type: 'POST',
            //    /*//dataType: 'json',*/
            //    data: person,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //})
            //$.ajax({
            //    url: 'https://localhost:44301/home/AddShot',
            //    type: 'POST',
            //    ////dataType: 'json',
            //    ////data: person,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }

            //})
            //$.ajax({
            //    url: 'https://localhost:44301/home/UpdateClient',
            //    type: 'PUT',
            //    dataType: 'json',
            //    data: person,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //})
            //$.ajax({
            //    url: 'https://localhost:44301/home/UpdateShot4Client',
            //    type: 'PUT',
            //    dataType: 'json',
            //    data: person,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //})
            //$.ajax({
            //    url: 'https://localhost:44301/home/DeleteClient?tz',
            //    type: 'GET',
            //    dataType: 'json',
            //    data: person,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //});
        
    </script> 
</head>
<body>
    <button value="all clients" onclick="getAllClients()"> all clients </button>
    <div id="person">


        <input className="tz" />
     <label>תז</label>
        <p></p>
        <input className="firstName" />
  <label>שם פרטי</label>

        <input className="lastName" />
  <label>שם משפחה</label>


        <input className="birthDate" />
  <label>תאריך לידה</label>

        <input className="telephone" />
   <label>טלפון</label>

        <input className="selphone" />
       <label>פלאפון</label>

        <input className="beIllDate" />
       <label>תאריך קבלת קורונה</label>

        <input className="beHealthDate" />
       <label>תאריך החלמה</label>

        <input className="postalCode" />
          <label>מיקוד</label>

        <input className="T_Address.city"
        <label>עיר</label>

        <input className="T_Address.street" />
     <label> רחוב</label>

        <input className="T_Address.numBuild" />
  <label>מס בית</label>
    </div>
    

</body>
</html>