<div class="card">
  <h4 class="card-header">רישום</h4>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label class="form-label">שם פרטי</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
              <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                  <div *ngIf="f['firstName'].errors['required']">  שם פרטי שגוי</div>
              </div>
          </div>
         
          <div class="mb-3">
              <label class="form-label">שם משפחה</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
              <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['lastName'].errors['required']">שם משפחה שגוי</div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">שם משתמש</label>
           
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">שם משתמש שגוי</div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">סיסמה</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">סיסמה שגויה</div>
69                  <div *ngIf="f['password'].errors['minlength']">סיסמה חייבת להיות יותר מ6 תווים</div>
              </div>
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  רישום
              </button>
              <a routerLink="../login" class="btn btn-link">חזור</a>
          </div>
      </form>
  </div>
</div>
